node_modules
apps/*/node_modules
packages/*/node_modules

dist
build
apps/*/dist
apps/*/build
.react-router
apps/*/.react-router

.turbo
out
apps/*/out

.env
.env.local
.env.*.local
apps/*/.env

.git
.github
README.md
apps/*/README.md
packages/*/README.md


*.log
.DS_Store

**/Dockerfile
docker-compose*.yml
nginx/